.adminsingleuser--container{
  grid-column: col-start 3/span 6;
  padding: 2rem 10rem;
  padding-top: 5rem;
  min-height: 70vh;
  font-size: var(--font16);
}

.singleuser--heading{
  &__name{
    color: $color-primary-dark;
  }
}

.singleuser{
  display: flex;
  flex-direction: column;
  align-items: center;
  @include bs;
  padding: 2rem;

  &--heading{
    margin-bottom: 2rem;
  }

  .control {
    margin-bottom: 2.5rem;
    &>input{
      margin-right: 2rem;
    }
  }
}