body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
  line-height: 1.6;
  color: $color-font;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  font-size: 62.5%;
  box-sizing: inherit;
}

*, *::after, *::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.contains{
  display: grid;
  grid-template-columns:[full-start] minmax(3vw, 1fr) [first-end] repeat(10, [col-start] minmax(min-content, 8vw) [col-end]) [center-end] minmax(3vw, 1fr) [full-end];
  // grid-template-columns:[full-start] minmax(3rem, 1fr) [first-end] repeat(10, [col-start] minmax(min-content, 14.4rem) [col-end]) [center-end] minmax(3rem, 1fr) [full-end];
}