$color-font: #4d4d33;
$color-primary-light: #ffc61a;
$color-primary-dark: #b58900;
$color-white: white;
$color-black : black;
$color-green: green;
$z-index1: 1;
$z-index2 : 2;
$z-index10: 10;
$z-index11: 11;
$z-index12: 12 ;//nav
$color-grey-light: rgba(245, 245, 240, 1);
$color-grey-light2: rgba(204, 204, 204,1);
$color-grey: rgba(166, 166, 166, 1);
$color-grey-dark: rgba(115, 115, 115, 1);
$color-red: red;



:root{
  --font16 : 1.6rem;
  --font14 : 1.4rem;
  --bs-shadow: 2rem 2rem 4rem rgba(0,0,0, .4);
}