.createproduct--container{
  grid-column: col-start 1/col-end 10;
  margin-top: 5rem;
  min-height: 75vh;
  font-size: var(--font16);
  justify-content: center;

  [type="submit"] {
    margin-top: 2rem;
  }
}

.createproduct {

  width: 100%;
  // background-color: red;

  &--image{
    width: 10rem;
    display: block;
    margin: 0 auto;
    &>img{
      width: 100%;
      border-radius: 3px;
    }
  }

  &--form{
    width: 60%;
    display: block;
    text-align: center;
    // background-color: blue;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 3px;
    font-size: var(--font16);
    @include bs;
  }
  
  &--form__control{
    border-bottom: 2px solid $color-primary-dark;
    padding: 1rem;
    padding-bottom: 0%;
    display: flex;
    justify-content: space-between;
  }
  
  &--form__input{
    padding: 1rem;
    width: 70%;
    padding-bottom: 0.5rem;
    outline: none;
    border: none;
    &:focus{
      outline: none;
      border: none;
      font-size: 1.6rem;
    }

    &::-webkit-input-placeholder{
      font-size: 1.6rem;
      font-style: italic;
    }
  }
}