.spinner-container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,.8);
  z-index: $z-index11;

  .spin {
    width: 7rem;
    height: 7rem;
    fill: green;
    animation: spinn 1.5s infinite;
  }

}


@keyframes spinn {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}